*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(202, 146, 218);
}

.container{
    display:block;
    height:60px;
    width:400px;
    position:absolute;
    margin:auto;
    background-color: blueviolet;
    left:0;
    right:0;
    top:150px;
    border-radius: 5px;
}

.container input{
    height: 30px;
    position:relative;
    padding:8px;
    margin:12px;
    width:200px;

    

}
 #add-btn{
    float:right;
    display:block;
    height: 30px;
    position:relative;
    padding:8px;
    margin:10px;
    width:80px;
    height:35px;
    background-color: white;
    color:blueviolet;
    font-size: 17px;
    font-weight: 600;
    border:none;
    outline:none;
    border-radius: 7px;

}
.delete-btn{
    color:red;
    background-color: rgb(255, 255, 255);
    border:none;
    outline:none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    padding:2px;
    width:30px;
    height:30px;
    
}

#add-todo{
    list-style: none;
}

#val{
    border:none;
    outline:none;
    width:250px;
    background-color: rgb(221, 159, 236);
    border-radius: 40px;
    height:35px;
    margin:10px;
    
}

.fa-solid {
    pointer-events: none;
}
.add-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.tododiv{
    width:400px;
    background-color: blueviolet;
    display:flex;
    justify-content: space-between;
    padding:5px;
    align-items: center;
    margin:10px;
    border-radius: 3px;
    color:white;
}